#prj_b_sidebar {
    background-color: #fff;
    border: none;
    bottom: 13px;
    box-shadow: 0 2px 5px #999;
    height: 500px;
    position: fixed;
    right: 13px;
    width: 300px;
    z-index: 2147483647;
}